:root{
    --red-light: red;
    --yellow-light: yellow;
    --green-light: green;
    --back-dark: black;
    --light-frame: rgb(65, 65, 65);
}

body{
    background-color: var(--back-dark);
    margin: 0;
}

.neck{
    width: 40px;
    height: 120px;
    border: 1px solid white;
    margin: 0 auto;
}
.body{
    width: 200px;
    height: 500px;
    border: 1px solid white;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.dot{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin: 0 auto;
}

.red{
    background-color: var(--red-light);
}
.yellow{
    background-color: var(--yellow-light);
}
.green{
    background-color: var(--green-light);
}
